<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com_junit" />

    <bean id="user" class="com_junit.User">
        <constructor-arg index="0" value="admin" />
        <constructor-arg index="1" value="1112" />
    </bean>

    <bean id="userService" class="com_junit.UserService">
        <property name="user" ref="user"></property>
    </bean>

    <bean name="dog" class="myself.testJUnit.Pet">
        <property name="name" value="傻哈"></property>
        <property name="type" value="二哈"></property>
    </bean>
</beans>