<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config />

  <bean id="now" class="java.util.Date" />
  <bean id="simpleDateFormat" class="java.text.SimpleDateFormat">
    <constructor-arg value="yyyy年MM月dd日 hh点mm分ss秒" />
  </bean>
  <bean id="user" class="com_annotation.User" scope="prototype" />
  <bean id="random" class="java.util.Random" />
  <bean id="annotationIoCBean" class="com_annotation.AnnotationIoCBean"/>

</beans>