<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="textEditor" class="chapter_02_springBean.com_automatic.TextEditor"
          autowire="byType">
        <property name="name" value="Text Editor"></property>
    </bean>

    <bean id="spellChecker" class="chapter_02_springBean.com_automatic.SpellChecker">
    </bean>
</beans>