<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_dataBinding:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_dataBinding_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_dataBinding" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC_dataBinding/web/Web" />
    </root>
  </artifact>
</component>