<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.niit.dao.ItemsDao">

    <select id="getItemsById" parameterType="Integer"
            resultType="com.niit.entity.Items">
        select *from items where id=#{id}
    </select>

    <select id="getAllItems" resultMap="itemsResultMap"  >
          select * from items
    </select>

    <resultMap id="itemsResultMap" type="com.niit.entity.Items">
        <!--对应数据库表中的关键字，有它可以提高myBatis的性能-->
        <id property="id" column="id" />
        <!--;结果映射-->
        <result property="name" column="name" />
        <result property="city" column="city" />
        <result property="price" column="price" />
        <result property="number" column="number" />
        <result property="picture" column="picture" />
    </resultMap>

</mapper>